#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.Travel_div {
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    float: none;

}

.Travel_div img {
    width: 100%;
}

.Travel_div hr {
    width: 230px;
}

.Travel_div h5,
.Travel_div p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: :15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: gold;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid blue;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}
.header_entrepreneur{
    line-height: 2;
}
.book{
    cursor: pointer;
}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top:100px;
}
.img_modal{
    display: inline-block;
    
}
.p_modal{
    margin-top:10px;
}
.modal-body{
    text-align:center;
}
